* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  background: white;
  align-items: center;
}

header {
  margin: 20px 60px;
  padding-bottom: 15px;
  background-color: #7ecdce;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 100px;
}

.eslogan {
  font-family: "Quicksand";
  font-weight: 400;
}

.titulo {
  color: #ffffff;
  font-family: "League Spartan";
}

.titulo_imagen {
  width: 120px;
  margin-left: 30px;
}

.titulo_texto {
  font-size: 5rem;
  letter-spacing: -0.3rem;
  margin-top: -38px;
}

.subtitulo {
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: 400;
  text-align: end;
  margin-top: -10px;
}

nav {
  margin: 20px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 1.3rem;
  letter-spacing: 5px;
}

.eslogan {
  color: white;
  align-items: end;
}
nav ul li {
  display: inline-block;
  margin: 20px;
}

nav a {
  color: rgb(39, 39, 39);
  font-family: Montserrat;
  text-decoration: none;
}

.section_title {
  font-family: "League Spartan";
  font-size: 2rem;
  margin: 20;
  color: #7689a5;
}

.products {
  display: flex;
  justify-content: center;
  margin: 10 50;
  align-items: center;
  flex-flow: row wrap;
}

.article {
  margin: 20px;
  padding: 10px;
  border-radius: 2%;
}

.video {
  width: 800px;
  display: flex;
  align-items: center;
}

footer {
  background-color: whitesmoke;
}
